<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Native" version="0.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLog" version="4.7.10" targetFramework="net472" />
  <package id="NStandard" version="0.8.9" targetFramework="net472" />
  <package id="NvAPIWrapper.Net" version="0.8.1.101" targetFramework="net472" />
  <package id="NWin32" version="1.2.0" targetFramework="net472" />
  <package id="PacketDotNet" version="1.2.0" targetFramework="net472" />
  <package id="SharpPcap" version="5.4.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="TaskScheduler" version="2.9.1" targetFramework="net472" />
</packages>