<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageRestore>
    <!-- The 'automatic' key is set to True when the "Automatically check for missing packages during
             build in Visual Studio" checkbox is set. Clearing the box sets this to False and disables
             automatic restore. -->
    <add key="automatic" value="True" />
  </packageRestore>
</configuration> 